@import '../variables.scss';

%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cart-product {
  display: flex;
  padding: 10px;
  background-color: #FFF;
  border-right: 1px solid #E2EAF0;
  border-left: 1px solid #E2EAF0;
  border-top: 1px solid #E2EAF0;

  &__name {
    @extend %ellipsis;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    width: $cart-product-name-width;
  }

  &__counter {
    display: flex;
    font-size: 14px;
    width: $cart-product-amount-width;
    text-align: center;
  }

  &__button {
    color: $primary-color;
  }

  &__amount {
    @extend %ellipsis;
    width: calc(100% - 30px);
    margin: 0 auto;
  }

  &__price {
    @extend %ellipsis;
    font-size: 14px;
    width: $cart-product-price-width;
    text-align: right;
  }
}
