.products-area {

  & .products-list__item {
    min-height: 155px;
    padding: 50px 30px;
    background-color: #FFF;
    border-left: 1px solid #E2EAF0;
    border-right: 1px solid #E2EAF0;
    border-top: 1px solid #E2EAF0;

    &:last-of-type {
      border-bottom: 1px solid #E2EAF0;
    }
  }
}
